@model Vidly.ViewModels.CustomerFormViewModel
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
<br />

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        <label for="BirthDate">Date of Birth</label>

        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0: dd-MM-yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.BirthDate)
    </div>


            <div class="form-group">
                <label for="Customer_MembershipType">Membership Type</label>
                @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter, new { @class = "form-check-inline" })
                <label>Subscribe to News Letter</label>
                @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
            </div>

            @Html.HiddenFor(m => m.Customer.Id)
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" formmethod="post" />
            </div>
        }


