@model Vidly.Models.Movie

<h1>@Model.Name</h1>

<table>
    <tr><th>Genre</th><td>@Model.Genre.Name</td></tr>
    <tr><th>Release Date</th><td>@Model.ReleaseDate</td></tr>
    <tr><th>Added Date</th><td>@Model.DateAdded</td></tr>
    <tr><th>Number in Stock</th><td>@Model.NumberInStock</td></tr>
</table>